# {{ pgbackup_config_dir }}/{{ pgbackup_config_file }} is main config file for barman
# It is managed by ansible. You should not edit it manually.
[barman]
{% for key,value in pgbackup_global_params.items() %}
{{ key }}={{ value }}
{% endfor %}
{% for stanza in pgbackup_instances.items() %}
{% if stanza.mode != 'separate' %}

[{{ stanza.name }}]
{% for key,value in stanza.backup_params.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
{% endfor %}
